repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --check ./src ./tests
        language: system
        pass_filenames: false
      
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        pass_filenames: false

